.button-container{
    padding-bottom: 20px;
  }
  
  .yesBtnDialog{
    background: #30bb5a;
    color: #FFF;
    font-weight: bold;
  }
  .cancelBtnDialog{
    background:red;
    font-weight: bold;
    color: #FFF;
  }
  
  p {
    text-align: center;
  }