<mat-dialog-content class="mat-typography">
  <div class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content">
      <div class="center p-24 pb-56">
        <div class="app-panel-wrapper mat-white-bg mat-elevation-z2">
          <div class="app-panel-header">
            <div class="app-panel-title">
              <div class="panel-header-left">
                <mat-icon>library_books</mat-icon>
                <h3>{{data.data?'Edit':'Add'}} Class</h3>
              </div>
            </div>
            <div class="panel-header-right">
              <button mat-button color="secondary" [mat-dialog-close]="null">
                <mat-icon style="margin-right: 3px;">keyboard_arrow_left</mat-icon>
                <span>Cancel</span>
              </button>
            </div>
          </div>
          <div class="app-panel-body">
            <form [formGroup]="formItemsData" name="invcategoryForm" novalidate style="margin: 0 auto;">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Class</mat-label>
                    <mat-select type="number" formControlName="class_id" id="class_id">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let item of classDropdown" [value]="item.id">
                        {{item.title}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formItemsData.get('class_id')?.hasError('customError')">
                      {{ formItemsData.get('class_id')?.errors?.customError.value }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Class Co-ordinator</mat-label>
                    <mat-select type="number" formControlName="coordinator_id" id="class_coordinator_id">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let item of teacherDropdown" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formItemsData.get('coordinator_id')?.hasError('customError')">
                      {{ formItemsData.get('coordinator_id')?.errors?.customError.value }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="data.data">
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" id="categoryStatus">
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let stat of statusDropdown" [value]="stat.id">
                        {{stat.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formItemsData.get('status')?.hasError('customError')">
                      {{ formItemsData.get('status')?.errors?.customError.value }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="with-table">
              <div class="col-md-12 row">
                <form class="col-md-10" [formGroup]="searchParam" novalidate style="margin: 0 auto;">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input autocomplete="off" formControlName="title" id="title" matInput
                          onfocus="this.removeAttribute('readonly');" placeholder="Enter Title">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Code</mat-label>
                        <input autocomplete="off" formControlName="code" id="title" matInput
                          onfocus="this.removeAttribute('readonly');" placeholder="Enter Code">
                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <div class="col-md-2 row">
                  <button mat-icon-button color="accent" (click)="resetForm(searchParam)">
                    <mat-icon>restore</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="reloadTable()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
              <app-custom-table class="col-md-12" [table_data_api]="'settings/subject'"
                [table_structure]="tableStructure" [forEdutube]="true" [search_param]="searchParam.value"
                [table_buttons]="tableButtons" [reload]="table_reload" (actions)="actionFromTables($event)"
                [no_pagination_details]="true" [selected_items]="{items: preSelected, control: 'id'}">
              </app-custom-table>
              <!-- [dropdowns]="{teacher: teacherDropdown}" -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-raised-button (click)="resetAction()">
    <mat-icon style="margin-right: 3px;">autorenew</mat-icon>
    <span>Reset</span>
  </button>
  <button *ngIf="!loaderStatus" class="reference-button add-button" mat-raised-button (click)="validateForm()"
    cdkFocusInitial>
    <mat-icon style="margin-right: 3px;">apps</mat-icon>
    <span>{{data.data?'Update':'Save'}}</span>
  </button>
  <button *ngIf="loaderStatus" class="reference-button" mat-raised-button (click)="validateForm()" cdkFocusInitial>
    <mat-progress-spinner style="background-color: white; float: left" mode="indeterminate" diameter="37">
    </mat-progress-spinner>
  </button>
</mat-dialog-actions>
