<div class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <div class="content">
    <div class="center pb-56">
      <div class="app-panel-wrapper mat-white-bg mat-elevation-z2">
        <div class="app-panel-header">
          <div class="app-panel-title">
            <div class="panel-header-left">
              <mat-icon>supervisor_account</mat-icon>
              <mat-form-field appearance="outline" class="col-md-5 mt-3">
                <mat-label>Class</mat-label>
                <mat-select [(ngModel)]="offered_class" (selectionChange)="getOfferedSectionDropdown(offered_class?.id)">
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let off_class of offeredClassDropdown" [value]="off_class">
                    {{off_class?.class?.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-5 mt-3">
                <mat-label>Section</mat-label>
                <mat-select [(ngModel)]="offered_section" (selectionChange)="changeRoute()">
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let off_sec of offeredSectionDropdown" [value]="off_sec">
                    {{off_sec?.class?.title}} {{off_sec?.shift?.title}} {{off_sec?.group?.title}}
                    {{off_sec?.section?.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <h3>Details</h3>
            </div>
          </div>
          <div class="panel-header-right">
          </div>
        </div>
        <div class="app-panel-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 p-1">
                <mat-card class="col-md-12">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <mat-icon>details</mat-icon>
                    </div>
                    <mat-card-title-group>
                      <mat-card-title>Section Details</mat-card-title>
                    </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="col-md-12 row">
                      <div class="col-md-8 sp-bord">
                        <table class="table-without-devider col-md-12" style="height: 90%">
                          <tr>
                            <th>Class</th>
                            <td>{{offered_section?.offered_class?.class?.title}}</td>
                          </tr>
                          <tr>
                            <th>Shift</th>
                            <td>{{offered_section?.shift?.title}}</td>
                          </tr>
                          <tr>
                            <th>Group</th>
                            <td>{{offered_section?.group?.title}}</td>
                          </tr>
                          <tr>
                            <th>Section</th>
                            <td>{{offered_section?.section?.title}}</td>
                          </tr>
                          <tr>
                            <th>Class Teacher</th>
                            <td>{{offered_section?.teacher?.name}}</td>
                          </tr>
                          <tr>
                            <th>Class Room</th>
                            <td>{{offered_section?.class_room}}</td>
                          </tr>
                        </table>
                        <div class="col-md-12" style="height: 10%;">
                          <button mat-stroked-button class="col-md-6" color="primary">
                            Teachers
                          </button>
                          <button mat-stroked-button class="col-md-6" color="primary">
                            Students
                          </button>
                        </div>
                      </div>
                      <div class="col-md-4 p-1 sp-bord">
                        <div class="row">
                          <div class="col-md-12">
                            <h2 class="col-md-12">Routine</h2>
                            <button mat-stroked-button class="col-md-12" color="primary">
                              Go To Routine
                            </button>
                          </div>
                          <div class="col-md-12">
                            <h2 class="col-md-12">Attendance</h2>
                            <button mat-stroked-button class="col-md-12" color="primary">
                              Go To Attendance
                            </button>
                          </div>
                          <div class="col-md-12">
                            <h2 class="col-md-12">Result</h2>
                            <button mat-stroked-button class="col-md-12" color="primary">
                              Go To Result
                            </button>
                          </div>
                          <div class="col-md-12">
                            <h2 class="col-md-12">Transcript</h2>
                            <button mat-stroked-button class="col-md-12" color="primary">
                              Go To Transcript
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-footer>
                  </mat-card-footer>
                </mat-card>
              </div>
              <!-- <div class="col-md-6 p-1">
                <mat-card class="col-md-12">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <mat-icon>details</mat-icon>
                    </div>
                    <mat-card-title-group>
                      <mat-card-title>Class Section </mat-card-title>
                    </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                    <table class="table-with-devider">
                      <tr>
                        <th>Sl No.</th>
                        <th>Section</th>
                        <th>Actions</th>
                      </tr>
                      <tr>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-footer>
                    <div>
                      <button mat-stroked-button class="col-md-12" color="primary">
                        Go To Sections
                      </button>
                    </div>
                  </mat-card-footer>
                </mat-card>
              </div> -->
              <div class="col-md-12 p-1">
                <mat-card class="col-md-12">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <mat-icon>details</mat-icon>
                    </div>
                    <mat-card-title-group>
                      <mat-card-title>
                        Class Subjects
                        <button mat-stroked-button>
                          Go To Subjects
                        </button>
                      </mat-card-title>
                    </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                    <table class="table-with-devider">
                      <tr>
                        <th>Sl No.</th>
                        <th>Subject</th>
                        <th>Subject Teachers</th>
                        <th>Actions</th>
                      </tr>
                      <tr>

                      </tr>
                    </table>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
