<div class="notFound">
    <div class="notFoundContent">
        <div class="notFoundNumber">404</div>
        <div class="notFoundHeader">
            Oops! This Page Could Not Be Found
        </div>
        <div class="notFoundText">
            SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST OR HAVE BEEN REMOVED OR NAME CHANGED OR IS TEMPORARILY UNAVAILABLE
        </div>
        <div class="notFoundButton">
            <button mat-raised-button color="primary" (click)="goToHome()">GO BACK</button>
        </div>
    </div>
</div>