<mat-dialog-content class="mat-typography">
  <div class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content">
      <div class="center p-24 pb-56">
        <div class="app-panel-wrapper mat-white-bg mat-elevation-z2">
          <div class="app-panel-header">
            <div class="app-panel-title">
              <div class="panel-header-left">
                <mat-icon>library_books</mat-icon>
                <h3>About Us Image</h3>
              </div>
            </div>
            <div class="panel-header-right">
              <button mat-button color="secondary" [mat-dialog-close]="null">
                <mat-icon style="margin-right: 3px">keyboard_arrow_left</mat-icon>
                <span>Cancel</span>
              </button>
            </div>
          </div>
          <div class="app-panel-body">
            <div class="row col-md-12" style="display: flex; justify-content: center; align-items: center;">
              <app-custom-image [url_id]="data?.data?.attachment_id" [cus_style]="style"></app-custom-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
