<mat-dialog-content class="mat-typography">
  <div class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content">
      <div class="center p-24 pb-56">
        <div class="app-panel-wrapper mat-white-bg mat-elevation-z2">
          <div class="app-panel-header">
            <div class="app-panel-title">
              <div class="panel-header-left">
                <mat-icon>library_books</mat-icon>
                <h3>Governing Body Details</h3>
              </div>
            </div>
            <div class="panel-header-right">
              <button mat-button color="secondary" [mat-dialog-close]="null">
                <mat-icon style="margin-right: 3px">keyboard_arrow_left</mat-icon>
                <span>Cancel</span>
              </button>
            </div>
          </div>
          <div class="app-panel-body">
            <div class="govern-only-body">
              <div style="width: 29%;">
                <app-custom-image [url_id]="data?.data?.attachment_id" [cus_style]="style"></app-custom-image>
              </div>
              <mat-card style="width: 69%;">
                <mat-card-header>
                  <mat-card-title>{{data?.data?.title}}</mat-card-title>
                  <mat-card-subtitle>{{data?.data?.designation}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [innerHTML]="data?.data?.message" style="width: 100%;"></div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
