<div class="col-md-12 row">
    <div class="col-md-2 all-center">
      <button mat-icon-button color="primary" (click)="buttonClicked(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Session</mat-label>
        <mat-select [(ngModel)]="currentSessionId" (selectionChange)="setSessionData()">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let dropdownData of sessionDropdown" [value]="dropdownData?.id">
            {{dropdownData?.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2 all-center">
      <button mat-icon-button color="primary" (click)="buttonClicked(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
<router-outlet></router-outlet>
